//mapas colores

$colors:(principal:#476a6f,secundario:rgb(209, 227, 221),);
$colorsNavidad:(principal:#85ad94,secundario:#FFE9D6,baners:#AE665B,titulosLet:#292828,extras:#FF4747);


//breackpoints

$landscape:576px;
$tablet:768px;
$notebook:1200px;
$desktop:1400px;

//medidas de uso regular

$padding:1rem;
$margin:1rem;
$MTop:2rem;


//fondo 
$plumas: url('../img/fondo.jpg');
$degH: linear-gradient(to bottom, #476a6f, rgb(209, 227, 221));
$degF: linear-gradient(to bottom, rgb(209, 227, 221), #476a6f);







