@import 'variables';
@import 'mixins';

@function color($color-name) {
    @return map-get($colors, $color-name);
}

header {
    background-image: $degH;

    .acomodado {
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        @include landscape {
            display: unset;
        }

        .logo,
        .logo1 {
            width: 15%;
            min-width: 80px;
            margin-top: ($MTop/2);
        }

        .logo1 {
            display: none;

            @include landscape {
                display: block;
            }
        }
    }

    nav {
        li.nav-item {
            margin: auto 1rem;
            padding: auto $padding;
        }
    }
}

main {
    .wpp {
        margin: auto auto 4rem 1%;
        @include medidas1(64px, 64px);

    }

    .baner {
        @include fondoPlumas;
    }

    .parrafos {
        margin-top: $MTop;
    }

    section.cuad {
        article.cuadC {
            div.dobC {
                ul.SubSub {
                    text-align: center;
                }
            }
        }

        @include landscape {
            div.dobC {
                display: flex;
                flex-flow: row wrap;

                ul.SubSub {
                    width: 50%;
                }
            }
        }

        @include notebook {
            section.cuad {
                display: flex;
                flex-flow: row wrap;

                article.cuadC {
                    width: 48%;
                    margin: 1%;
                }
            }
        }
    }

    p.itemsC {
        margin-top: ($MTop+.5);
        margin-bottom: 1rem;

    }

    P.NNR {
        margin-top: ($MTop/2);
    }
}

@include tablet {
    .HyU {
        display: flex;
        flex-direction: row;
    }

    .parrafos {
        margin: 4rem 0;
    }

    .sideImg {
        padding: 1%;
    }

}

@include desktop {
    .HyU {
        display: unset;
    }

}

footer {
    max-height: 4rem;
    background-image: $degF;

    li {
        padding: $padding;

        img {
            max-width: 2rem;
            max-height: 2rem;
        }
    }
}

h1 {
    margin-top: 3%;
}

h3,
h4,
h5 {
    padding: ($padding/2);
    text-align: center;
    background-color: color(secundario);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.grad {
    background-color: color(secundario);
}

.Degrad {
    background-image: $degH;
}